header {
  background-color: rgb(28, 70, 114);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 100;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: whitesmoke;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
  color: whitesmoke;
}

.profile-image {
  width: 125px;
  height: 125px;
  padding: 5px;
}