{% extends '../base.html' %}
<!DOCTYPE html>
<html lang="en">
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/base.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <title>Browse Events</title>
</head>

<body>
  {% block content %}
  <div style="margin-left: 50px; margin-top:100px;">
    <div class="row">
      <h4 class="col-9">
        Username : {{user_page.username}}<br>
        Email : {{user_page.email}}<br><br>
        Pronouns : {{user_account.pronouns}}<br>
        Description : {{user_account.description}}
      </h4>
      {%if friends is not None%}
      <div class="col-3">
        <div class="card" style="margin: 15px; z-index: 99; max-width: 100%; min-width: 25%;">
          <h4 class="card-title" style="text-align: center; text-transform: capitalize;">Friends</h4>
          <h5 class=" card-subtitle list-group list-group-flush" style="padding: 2%;">
            <form action="" method="post">
              {% csrf_token %}
              {{ friends.form }}
              <input class="btn btn-primary btn-sm" type="submit" value="Search">
            </form>
          </h5>
          {% for k in friends.friends_list %}
          <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-10">
                  <b><a href="/accounts/profile/{{k.friend.username}}">{{k.friend.username}}</a></b>
                </div>
                <div class="col-2">
                  <button data-friend_username="{{k.friend.username}}" class="btn btn-danger add-btn remove-friend"
                    style="padding: 5px;padding-top:1px;padding-bottom:3px"><svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg></button>
                </div>
              </div>
            </li>
          </ul>
          {% endfor %}
        </div>
      </div>
      {%endif%}
    </div>
  </div>
  {% endblock content %}
</body>

</html>