bikerapp/bikerapp/__pycache__/*
bikerapp/bikingapp/__pycache__/*
bikerapp/bikingapp/migrations/__pycache__
bikerapp/db.sqlite3
# Elastic Beanstalk Files
bikerapp/.elasticbeanstalk/*
bikerapp/!.elasticbeanstalk/*.cfg.yml
bikerapp/!.elasticbeanstalk/*.global.yml
**/.DS_Store