<!DOCTYPE html>
<html lang="en">
<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table>
        <thead style="border: 1px solid black">
            <th border: 1px solid black;>location</th>
            <th border: 1px solid black;>date_time</th>
            <th border: 1px solid black;>date_created</th>
            <th border: 1px solid black;>public_private</th>
            <th border: 1px solid black;>description</th>
            <th border: 1px solid black;>created_by</th>
        </thead>
        <tr style="border: 1px solid black">
            <td border: 1px solid black;>{{obj1.location}}</td>
            <td border: 1px solid black;>{{obj1.date_time}}</td>
            <td border: 1px solid black;>{{obj1.date_created}}</td>
            <td border: 1px solid black;>{{obj1.public_private}}</td>
            <td border: 1px solid black;>{{obj1.description}}</td>
            <td >{{obj1.created_by}}</td>
        </tr>
    </table>
</body>

</html>