{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/base.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Maps</title>
</head>

<body>
    {% block content %}
        <div id="map" style="height: 400px; width: 50%; margin-top: 150px; margin-left: 25%;"></div>
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlkwD4oZWgdqKf-wptm3M1cepVjtVUM-U&callback=initMap&v=weekly"
        defer
        >
        </script>
        <script>
            var map;
            function initMap() {

            const uluru = { lat: 40.7237, lng: -73.9898 };
    
            map = new google.maps.Map(document.getElementById("map"), {
            zoom: 9,
            center: uluru,
            });
            map.data.loadGeoJson("{% static 'json/bikeparking.geojson' %}");
            
            // const iconBase = "https://cdn-skill.splashmath.com/panel-uploads/GlossaryTerm/8bc0a422674548a48e2500b880628b91/1544077479_Circle-Shape.png";

            map.data.setStyle(function(feature) {
                return{
                    icon: getCircle(),

                }
            });
    
            const marker = new google.maps.Marker({
            position: uluru,
            map: map,
            });
        }

        function getCircle() {
            return {
                path: google.maps.SymbolPath.CIRCLE,
                fillColor: "red",
                fillOpacity: 0.2,
                scale: 2,
                strokeColor: "white",
                strokeWeight: 0.5,
            };
        }

        window.initMap = initMap;
        </script>
    {% endblock content %}
</body>

</html>