{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 4vh;">
    <div class="content-section col-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                {{ form|crispy }}
            </fieldset>

            By registering, you accept the Terms of Service and Privacy Notice

            <div class="form-group">
                <button class="btn" style="background-color: #324f94 ; color:#efefef" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}