{% extends 'base.html' %}
{% block content %}
<h3>Public Events</h3>
<div class="row align-items-center">
    <div class="col-1">
        {% if obj2.has_other_pages %}
        <div>
            <ul class="pagination">
                {% if obj2.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?public_event_page={{ obj2.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="col-10">
        <div class="d-flex flex-wrap align-items-center space-between" style="margin-left: -5%;">
            {% for obj in obj2 %}
            <div class="card card-new" style="margin: 0.5%; max-width: 23%;min-width: 23%;">
                <h4 class="card-title" style="text-align: center; text-transform: capitalize;">
                    <b>{{obj.title}}</b>
                </h4>
                <a href="/browse_events/{{obj.id}}" style="text-decoration: none; color: black;">
                    <ul class="card-body list-group list-group-flush">
                        <li class="list-group-item"><b>Location:</b> {{obj.location}}</li>
                        <li class="list-group-item"><b>Zipcode:</b> {{obj.zipcode}}</li>
                        <li class="list-group-item"><b>Event Date:</b> {{obj.date}}</li>
                        <li class="list-group-item"><b>Event Time:</b> {{obj.time}}</li>
                        <li class="list-group-item"><b>Created By:</b> {{obj.created_by}}</li>
                    </ul>
                </a>
                {% if bookmarked_events is not None %}
                {% if obj.id not in bookmarked_events %}
                <button data-event="{{obj.id}}" data-action="bookmark" class="btn btn-success add-btn event-bookmark"
                    style="background-color:#324f94;">Bookmark this event</button>
                {% else%}
                <button data-event="{{obj.id}}" data-action="unbookmark"
                    class="btn btn-danger add-btn event-bookmark">Unbookmark</button>
                {% endif %}
                {% else %}
                <a href="/login" class="btn btn-secondary">Login to Bookmark this event</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-1">
        {% if obj2.has_other_pages %}
        <ul class="pagination">
            {% if obj2.has_next %}
            <li class="page-item"><a class="page-link" href="?public_event_page={{ obj2.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
<hr>
{% if obj1 %}
<h3>Private Events</h3>
<div class="row align-items-center">
    <div class="col-1">
        {% if obj1.has_other_pages %}
        <div>
            <ul class="pagination">
                {% if obj1.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?private_event_page={{ obj1.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="col-10">
        <div class=" d-flex flex-wrap align-items-center space-between" style="margin-left: -5%;">
            {% for obj in obj1 %}
            <div class="card card-new" style="margin: 0.5%; max-width: 23%;min-width: 23%;">
                <!-- <div class="card card1 custom" style="margin: 15px; max-width: 25%; min-width: 25%;"> -->
                <h4 class="card-title" style="text-align: center; text-transform: capitalize;">
                    <b>{{obj.title}}</b>
                </h4>
                <a href="/browse_events/{{obj.id}}" style="text-decoration: none; color: black;">
                    <ul class="card-body list-group list-group-flush">
                        <li class="list-group-item"><b>Location:</b> {{obj.location}}</li>
                        <li class="list-group-item"><b>Zipcode:</b> {{obj.zipcode}}</li>
                        <li class="list-group-item"><b>Event Date:</b> {{obj.date}}</li>
                        <li class="list-group-item"><b>Event Time:</b> {{obj.time}}</li>
                        <li class="list-group-item"><b>Created By:</b> {{obj.created_by}}</li>
                    </ul>
                </a>
                {% if obj.id not in bookmarked_events %}
                <button data-event="{{obj.id}}" data-action="bookmark" class="btn btn-success add-btn event-bookmark"
                    style="background-color:#324f94;">Bookmark this
                    event</button>
                {% else%}
                <button data-event="{{obj.id}}" data-action="unbookmark"
                    class="btn btn-danger add-btn event-bookmark">Unbookmark</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-1">
        {% if obj1.has_other_pages %}
        <ul class="pagination">
            {% if obj1.has_next %}
            <li class="page-item"><a class="page-link"
                    href="?private_event_page={{ obj1.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endif %}
<hr>
{% if obj3 %}
<h3 style="margin-left: 20px;">Invited Events</h3>
<div class="row align-items-center">
    <div class="col-1">
        {% if obj3.has_other_pages %}
        <div>
            <ul class="pagination">
                {% if obj3.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?public_event_page={{ obj3.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="col-10">
        <div class=" d-flex flex-wrap align-items-center space-between" style="margin-left: -5%;">
            {% for obj in obj3 %}
            <div class="card card-new" style="margin: 0.5%; max-width: 23%;min-width: 23%;">
                <h4 class="card-title" style="text-align: center; text-transform: capitalize;">
                    <b>{{obj.event.title}}</b>
                </h4>
                <a href="/browse_events/{{obj.event.id}}" style="text-decoration: none; color: black;">
                    <ul class="card-body list-group list-group-flush">
                        <li class="list-group-item"><b>Location:</b> {{obj.event.location}}</li>
                        <li class="list-group-item"><b>Zipcode:</b> {{obj.event.zipcode}}</li>
                        <li class="list-group-item"><b>Event Date:</b> {{obj.event.date}}</li>
                        <li class="list-group-item"><b>Event Time:</b> {{obj.event.time}}</li>
                        <li class="list-group-item"><b>Created By:</b> {{obj.event.created_by}}</li>
                        <li class="list-group-item"><b>Event Type:</b> {{obj.event.event_type}}</li>

                    </ul>
                </a>
                {% if obj.event.id not in bookmarked_events %}
                <button data-event="{{obj.event.id}}" data-action="bookmark"
                    class="btn btn-success add-btn event-bookmark" style="background-color:#324f94;">Bookmark this
                    event</button>
                {% else%}
                <button data-event="{{obj.event.id}}" data-action="unbookmark"
                    class="btn btn-danger add-btn event-bookmark">Unbookmark</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-1">
        {% if obj3.has_other_pages %}
        <ul class="pagination">
            {% if obj3.has_next %}
            <li class="page-item"><a class="page-link"
                    href="?private_event_page={{ obj3.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock content %}