header {
    background-color: rgb(28, 70, 114);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: rgb(235, 235, 235);
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
    color: whitesmoke;
}