<!DOCTYPE html>
<html lang="en">
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  <title>Document</title>
</head>

<body>
  {% extends 'base.html' %} {% block content %}
  <div>
    <div class="col">
      <div class="alert alert-success col-lg-6" role="alert" style="margin-left: 25px">
        Workout created successfully
      </div>
      <div class="card col-lg-6" style="margin: 25px">
        <ul>
          <li class="card-body"><b>Title:</b> {{obj1.title}}</li>
          <li class="card-body"><b>Miles:</b> {{obj1.miles}}</li>
          <li class="card-body"><b>Workout Date:</b> {{obj1.date}}</li>
          <li class="card-body"><b>Start Time:</b> {{obj1.time_start}}</li>
          <li class="card-body"><b>End Time:</b> {{obj1.time_end}}</li>
          <li class="card-body">
            <b>Created Date:</b> {{obj1.date_created}}
          </li>
          <li class="card-body"><b>Description:</b> {{obj1.description}}</li>
          <li class="card-body"><b>Created By:</b> {{obj1.created_by}}</li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock content %}
</body>

</html>