{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 4vh;">
  <!-- <div class="col-5 offset-3"> -->
  <div class="row">
    {% for obj in obj1 %}
    <div class="col-8 offset-2">
      <div class="card card-new" style="max-width: 100%; min-width: 25%;margin-top: 20px;">
        <ul class="card-body list-group list-group-flush">
          <li class="list-group-item">
            <a class="article-title" href="/workout_history/{{obj.id}}">
              <div class="row">
                <span class="col-4 my-auto " style="text-transform:capitalize; font-weight: bolder; font-size: large;">
                  {{obj.title}}
                </span>
                <span class="col-4 my-auto">
                  {{obj.miles}} Miles
                </span>
                <span class="col-4 " style="text-align:center;">
                  <span class="row">
                    <span style="font-size:small">{{obj.date}}</span>
                  </span>
                  <span class="row">
                    <span style="font-size:small">{{obj.time_start}} - {{obj.time_end}}</span>
                  </span>
                </span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% if obj1.has_other_pages %}
<div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
  <ul class="pagination">
    {% if obj1.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ obj1.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in obj1.paginator.page_range %}
    {% if obj1.number == i %}
    <li class="page-item active"><span class="page-link" style="background-color:#324f94;">{{ i }} </span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if obj1.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ obj1.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}
{% endblock content %}