{% extends 'base.html' %}
{% block content %}
<div class="text-center">
  <h2>Discussion Forum</h2>
</div>
<br>
{% for post in posts %}
<div class="col-6 content-section2">
  <div class="row">
    <div class="col-3">
      <article class="media">
        <img width="180px" height="170px" class="rounded-circle article-img" src="{{ post.author.image.url }}">
    </div>
    <div class="col-6">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile' post.author %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
      </article>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}