<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Post Detail</title>
</head>

<body>
  {% extends 'base.html' %}
  {% block content %}
  <div class="col-6 content-section2" style="margin-top: 4vh;">
    <div class="row">
      <div class="col-3">
        <article class="media">
          <img class="rounded-circle article-img" src="{{ object.author.image.url }}">
      </div>
      <div class="col-9">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' object.author %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <p class="article-content">{{ object.content }}</p>
        </div>
      </div>
      <hr>
      {% if userLoggedIn == True %}
      <div class="row">
        <h5>Leave a Comment</h5>
        <form action="" method="post">
          <div class="row">
            <div class="col-11">
              {% csrf_token %}
              {{form.body}}
            </div>
            <div class="col-1" style="margin-top: 1vh ;margin-left: -1vw;">
              <input class="btn" style="background-color:#324f94;color:#efefef;" type="submit" value="Submit">
            </div>
          </div>
        </form>
        {% endif %}
        <br>
      </div>

      <div class="col-12 ">
        <div class="card-body">
          <!-- comments -->
          <h5>{{ comments.count }} comments</h5>
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <h5>{{ comment.author }}</h5>
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
            {{ comment.body | linebreaks }}
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}


</body>

</html>